body , html{
  background-image: url('../img/1.jpeg');
  background-position: center;
  background-attachment: fixed;
}
  
  /* header style */
  .site-blocks-cover.overflow-hidden {
      overflow: hidden;
  
  }
  .site-blocks-cover, .site-blocks-cover > .container > .row {
      height: calc(60vh);
      min-height: 400px;
  }
  .site-blocks-cover {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      background-position: center center;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      background: #a49cdc;
  }
  .overflow-hidden {
      overflow: hidden!important;
  }
  
  @media (min-width: 1200px)
  .container {
      max-width: 1100px;
  }
  @media (min-width: 992px)
  .container {
      max-width: 960px;
  }
  @media (min-width: 768px)
  .container {
      max-width: 720px;
  }
  @media (min-width: 576px)
  .container {
      max-width: 540px;
  }
  
  @media (max-width: 768px){
    .container .row{
      margin-top: 55px;
    }
  }
  .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  
  @media (min-width: 992px)
  .col-lg-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  
  
  .site-blocks-cover h1 {
      font-size:44px;
      color: #000;
      font-weight: 900;
      font-family: "Playfair Display";
      font-weight:800;
  }
  
  @media (max-width: 768px){
    .site-blocks-cover h1{
      font-size: 22px;
    }
  }
  @media (max-width: 768px){
      .site-blocks-cover p{
        font-size: 1rem;
      }
  }
  
   

h1{
  animation: type 10s steps(38) infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid black;
  max-width: 23ch;
}

@keyframes type {
0% {
  width: 0%
}
50% {
  width: 100%
}
100% {
  width: 0%
}
}

.site-blocks-cover p {
    color: #000;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.owl-carousel.owl-loaded {
    display: block;
}
.slide-one-item {
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

/* main style */
.main-body{
  width: 70%;
    background: #dedede;
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 80px;
}
.main-body img{
  max-width: 50%;
  height: auto;
}

/* uploading style */
.uploading{
  text-align: center;
}
.uploading h5{
  margin: 25px;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #280f42;
}
.main-body label{
  margin-bottom: 35px;
  cursor: pointer;
  border: 1px solid #9575cd;
  border-radius: 7px;
  width: 100px;
  text-align: center;
  height: 30px;
  background: #a49cdc70;
  font-weight: 600;
  font-family: sans-serif;
  color: #47206f;
}
.main-body .uploading input {
  display: none;
}

.image-preview--image{
  max-width: 700;
  min-width: 200;
  height: auto;
  display: none;

}
/* inputs style */
.inputs{
  margin-top: 30px;
}
.col-md-6 button{
  text-align: center;
}

@media (min-width: 576px){
.col-sm-12 {
  margin-bottom:25px;
}
}

.accordion {
  text-align-last: center;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 600;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: .4s;

}
.inputs .first {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.inputs .last {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  margin: 0 5px;
  background-color: white;
  display: none;
  overflow: hidden;

}
.inputs .panel input {
  width: 100%;
  border: none;
  height: 50px;
  background: #f5f5f5;
  padding: 6px;
  text-align: right;
}

/* submitting style */
.submitting{
  text-align: center;
  margin:30px;
}
.submitting input{
  border: 1px solid #9575cd;
  border-radius: 7px;
  width: 100px;
  text-align: center;
  height: 30px;
  background: #a49cdc70;
  font-weight: 600;
  font-family: sans-serif;
  color: #47206f;
  margin-top: 20px;
  margin-bottom: 20px;
}


/*Note*/
.note{
  text-align: right;
  font-family: sans-serif;
  font-weight: 600;
  background: #a49cdc;
  padding: 15px;

}
.middleNote{
  margin-bottom: 20px;
}
.endNote{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.note h2{
  text-decoration: underline;
  color: #47206f;
}

#message{
  font-size:large;
}
